<table class="table table-striped">
    <tr><td style="width: 1px;"></td><td><b>Player</b></td><td><b>Options</b></td></tr>
    <tr>
        <td>
           <span>Nachname</span><input type="text" ng-model="search.nachname">
        </td>
        <td>
            <span>Vorname</span>
                <input type="text" ng-model="search.vorname">
        </td>
    </tr>
    <tr ng-repeat="player in spieler | filter:search">
        <td>
            <span class="label label-success">Done</span>
        </td>
        <td><p><b>{{ player.nachname }}</b></p><p>{{ player.vorname }}</p></td>
        <td>
            <a class="btn btn-default" href="#/spieler/{{ player.id }}">Details</a>
            <button class="btn btn-default">Delete</button>
            <span><button class="btn btn-default">Mark In Progress</button></span>
        </td>
    </tr>
</table>