<table class="table table-striped">
    <tr>
        <td>matchDay</td>
        <td>grade</td>
        <td>minuteOfEntry</td>
        <td>minuteOfLeave</td>
        <td>amountOfGoals</td>
        <td>penaltyGoals</td>
        <td>assists</td>
        <td>scorerPoints</td>
        <td>redCards</td>
        <td>redYellowCards</td>
        <td>yellowCards</td>
        <td>amountOfOpponentGoals</td>
        <td>gamePoints</td>
    </tr>
    <tr ng-repeat="result in results">
        <td>{{ result.matchDay }}</td>
        <td>{{ result.grade }}</td>
        <td>{{ result.minuteOfEntry }}</td>
        <td>{{ result.minuteOfLeave }}</td>
        <td>{{ result.amountOfGoals }}</td>
        <td>{{ result.penaltyGoals }}</td>
        <td>{{ result.assists }}</td>
        <td>{{ result.scorerPoints }}</td>
        <td>{{ result.redCards }}</td>
        <td>{{ result.redYellowCards }}</td>
        <td>{{ result.yellowCards }}</td>
        <td>{{ result.amountOfOpponentGoals }}</td>
        <td>{{ result.gamePoints }}</td>
    </tr>
</table>