<table class="table table-striped">
    <tr><td style="width: 1px;"></td><td><b>Player</b></td><td><b>Options</b></td></tr>
    <tr>
        <td>
            <span>Verein: </span><input type="text" ng-model="search.name">
        </td>
    </tr>
    <tr ng-repeat="team in teams | filter:search">
        <td><p><b>{{ team.name }}</b></p><a href="{{ team.url }}">{{team.name}}</a></td>
        <td>
            <a class="btn btn-default" href="#/teams/{{ team.id }}">Details</a>
        </td>
    </tr>
</table>